@import 'variables-site/variables-site';

.go-back-btn {
    background: $color__secondary;
    border: 2px solid $color__primary;
    border-radius: 50%;
    color: $color__primary;
    cursor: pointer;
    font-size: 25px;
    font-weight: 900;
    height: 50px;
    width: 50px;
    margin-left: #{1.5 * $size__spacing-unit};
    margin-bottom: #{1.5 * $size__spacing-unit};
    margin-top: #{1.5 * $size__spacing-unit};
    line-height: 50px;
    outline: none;
    text-align: center;

    &:hover {
        background: darken($color__secondary, 11%);
        transition: all $background_transition;
    }
}