@import 'variables-site/variables-site';
@import 'mixins/mixins-master';

.search-form {
    display: none;

    @include media(tablet) {
        display: block;
    }

    .search-wrap {
        position: relative;

        .search {
            border-radius: 25px;
            height: 25px;
        }

        .submit-btn {
            background: transparent;
            box-shadow: none;
            border: 0;
            color: $color__primary;
            cursor: pointer;
            font-size: $font__size-md;
            font-weight: 900;
            outline: none;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
}