<div class='discover-movies-wrapper' *ngIf='discoverMovie?.results[currentIndex]; let currentMovie'>
    <div class='movie' (mouseover)='stopAutoNext()' (mouseout)='startAutoNext()'>
        <div class='movie-link' (click)='viewMovie(currentMovie.id)'></div>
        <div class='overlay'></div>
        <app-backdrop [backdropPath]='currentMovie.backdrop_path' size='original'></app-backdrop>
        <div class='text d-flex container'>
            <div class='title'>{{ currentMovie.title }}</div>
            <div *ngIf='currentMovie.overview; let overview' class='description'>{{ overview.length > 120 ? (overview | slice:0:120) + '..' : overview }}</div>
        </div>
        <div class='options d-flex flex-row'>
            <a class='play-video-link' routerLink='/movie/{{ currentMovie.id }}/videos'>
                <i class='las la-play'></i>
            </a>
            <div class='nav-btns d-flex flex-row'>
                <button class='nav-btn prev' (click)='togglePrev()'>
                    <i class='las la-chevron-left'></i>
                </button>
                <button class='nav-btn next' (click)='toggleNext()'>
                    <i class='las la-chevron-right'></i>
                </button>
            </div>
        </div>
    </div>
</div>