@import 'variables-site/variables-site';
@import 'mixins/mixins-master';


.overview {
    font-size: $font__size-md;

    .toggle-show-full-btn {
        background: transparent;
        border: none;
        cursor: pointer;
        margin: 0;
        outline: none;
        padding: 0;
    }
}